#count-panel {
    height: 45%;
}

#count-panel #count-text {
    color: #ccc;
    font-size: 30vh;
}

#control-panel {
    height: 45%;
    padding: 0 4vmin 0 4vmin;
    max-width: 100vmin;
}

#click-controls {
    height: 70%;
    padding: 0;
}

#click-controls .btn {
    font-size: 15vmin;
    margin: 1vmin;
}

#special-controls{
    height: 30%;
    padding: 0;
}

#special-controls .btn {
    font-size: 4vmin;
    margin: 1vmin;
}

#control-panel .col {
    padding: 0;
}