#counter-panel {
    max-width: 100vmin;
    padding: 0 4vmin 0 4vmin;
}

#live-panel {
    height: 5%;
}

#live-panel .MuiFormControlLabel-label {
    font-size: calc(15px + 0.75vmin);
    color: #ccc;
}

#count-panel {
    height: 40%;
}

#count-panel #count-text {
    color: #ccc;
    font-size: 30vh;
}

#control-panel {
    height: 45%;
}

#click-controls {
    height: 70%;
    padding: 0;
}

#click-controls .btn {
    font-size: 15vmin;
    margin: 1vmin;
}

#special-controls{
    height: 30%;
    padding: 0;
}

#special-controls .btn {
    font-size: 4vmin;
    margin: 1vmin;
}
